
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The Ethereum Gatling Gun is a wallet that allows its user to send out multiple arbitrary transactions in bulk within a single transaction at once.">
  <meta name="author" content="Simon Rovder">

  <title>ETH Gatling Gun</title>

  <link href="bootstrap.min.css" rel="stylesheet">
  <script src="jquery-3.3.1.min.js"></script>
  <SCRIPT language="JavaScript" src="chain.js"></SCRIPT>
  <SCRIPT language="JavaScript" src="bootstrap.bundle.min.js"></SCRIPT>
  
  <SCRIPT>
    function networkVisualizer(err, netId) {
      element = $("#netIdSpan");
      switch(netId) {
        case "1":
          element.html("&nbsp;&nbsp; Mainnet");
          element.css("border-left-color", "rgb(41,182,175)");
          break;
        case "3":
          element.html("&nbsp;&nbsp; Ropsten");
          element.css("border-left-color", "rgb(255,74,141)");
          break;
        case "4":
          element.html("&nbsp;&nbsp; Rinkeby");
          element.css("border-left-color", "rgb(246,195,67)");
          break;
        default:
          element.html("&nbsp;&nbsp; Unknown");
          element.css("border-left-color", "#aaaaaa");
          $("#unknownNetwork").slideDown();
          return;
      }
    }

    window.addEventListener('load', function () {
        if (typeof web3 !== 'undefined') {
            window.web3 = new Web3(web3.currentProvider);
            web3.version.getNetwork(networkVisualizer);
        }
    });
  </SCRIPT>	
  <STYLE>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #f5f5f5;
    }
  </STYLE>