<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="index.php"><img src="ethgg.png" style="display: inline; height:1.5em"> Ethereum Gatling Gun</a>

      <span id="netIdSpan" style="margin-left:15px; border-left-style: solid;  color:#aaaaaa" title="Change by changing Metamaks setting."></span>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.php">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="operation.php">Operation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@simon.rovder/ethereum-gatling-gun-the-fastest-wallet-out-there-e05269f38da8">Medium Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://bitbucket.org/SimonRovder/EthGatlingGun">Git</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="getset.php">GetSet</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>